html {
  background-image: url('backdrop.jpg');
  background-size: 30%;
}

h1 {
  color: #c1c1c1;
}

label {
  color: #c1c1c1;
}

h3 {
  color: #c1c1c1;
  padding-left: 50px;
}

p {
  color: #c1c1c1;
  padding-left: 75px;
  width: 500px;
}

.money {
  color: #c1c1c1;
  padding-left: 100px;
  font-size: 25px
}

.username {
  color: #c1c1c1;
  padding-right: 100px;
  font-size: 25px
}

#wheelImage {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50px;
  left: 80px;
}

#wheel {
  position: relative;
}

#my-form {
  position: absolute;
  height: 500px;
  width: 600px;
  top: 70px;
  right: 40px;
}

#betting {
  position: relative;
}

#bottom-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px;
}
