/* Hide all elements by default */
.hidden {
  display: none;
}

body {
  background-color: transparent !important;
}

label {
  color: #c1c1c1;
}

html {
  background-image: url('backdrop.jpg');
  background-size: 30%;
}

h2 {
  padding: 20px;
  color: #c1c1c1;
  text-align: center;
}

form {
  text-align: center;
  padding-bottom: 20px;
}

p {
  color: #c1c1c1;
  padding-left: 75px;
  width: 500px;
  background: transparent;
  text-align: center;
}

.password-box {
  background: #333;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}
