html {
  background-image: url('https://jrhawkinfinal.s3.amazonaws.com/backdrop.jpg');
  background-size: 30%;
}

body {
        background-color: transparent;
      }

div {
  background-color: rgba(0, 0, 0, 0.01);
}

h1 {
  color: #c1c1c1;
  background-color: transparent;
}

label {
  color: #c1c1c1;
  background-color: transparent;
}

h3 {
  color: #c1c1c1;
  padding-left: 50px;
  background-color: transparent;
}

p {
  color: #c1c1c1;
  font-size: 25px;
  padding: 5px;
  background-color: transparent;
}

video {
  display: none;
  position: fixed;
  z-index: 99999;
  justify-content: center;
  align-content: center;
}

#player {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
}

.money {
  color: #c1c1c1;
  font-size: 25px
}

.username {
  color: #c1c1c1;
  font-size: 25px
}

#dog {
  position: relative;
  background: transparent;
}

#dogpic {
  height: 80px;
  position: absolute;
  top: 14px;
  left: 304px;
  z-index: 9997;
}

#roulette-wheel {
  /*
  position: absolute;
  height: 500px;
  width: 500px;
  transition: transform 3s ease-out;
  */
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: transform 3s ease-out;
  transform-origin: center;
  transform: none;
  top: 80px;
  left: 80px;
  z-index: -1;
}

#wheel {
  position: relative;
  background-color: transparent;
  height: 0px;
}


#result {
}

#result1 {
  background-color: #FFF9E6;
  border-radius: 5px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 50px;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.alert {
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  display: none;
  text-align: center;
  z-index: 9998;
}

.Red { color: red; }
.Black { color: black; }
.Green { color: green; }
